/Binaries
/Build
/DerivedDataCache
/Intermediate
/Saved
/*.xcodeproj
/Makefile
/haxelib

# UE4Haxe specific files
Generated
Content/SomeAsset.uasset
gen-*.hxml
uhxconfig.local
export_classes.info

*.db
*.sln
/.vs
/.vscode
