/Binaries
/Build
/DerivedDataCache
/Intermediate
/Saved
/*.xcodeproj
/Makefile
/haxelib

# UE4Haxe specific files
/Source/**/*.Build.cs
Generated
Content/SomeAsset.uasset
gen-*.hxml
uhxconfig.local
export_classes.info
